
<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>八方美人バレンタイン</title>
	<link rel="stylesheets" href="./css/style.css">
</head>
<body id="pagetop">
	<section class="massage">
		<div class="cnt-inner">
			<a href="./index.html">
				<%= image_tag 'header_ttl.png' %>
			</a>
				<p class="massage-txt">投稿したいtwiiterのユーザー名を入力してください。<br>(例)「bijinsan」＠は必要ありません</p>
				<%= form_tag('/choco',method: :post) do %>
					<textarea placeholder="相手のお名前" name="name" id="" cols="30" rows="10"></textarea>
					<textarea id="massage" placeholder="メッセージ" name="text" id="" cols="30" rows="10"></textarea>
				<p class="caution-txt">※変換される言葉によって出来上がりが変わります。<br>
	※変換前の言葉が相手に伝わることはありません。</p>
				<%= image_submit_tag 'btn.png',class: 'send' %>
				<% end %>
		</div>
		<div class="footer">
			<small>
				© sample.
			</small>
			<%= link_to 'TOPへ',root_path %>
		</div>
	</section>
</body>
</html>
