chocolate
<%= form_tag('/choco',method: :post) do %>
	<h3>
		投稿する
	</h3>
	<textarea placeholder="名前入力" name="name" cols="10" rows="10"></textarea>
	<textarea placeholder="text入力" name="text" name= "content" cols="30" rows="10"></textarea>
	<input type="submit" value="SENT">
<% end %>

